@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    font-family: 'Baloo Bhaina 2', cursive ;
    transition: 2s;
    font-style: italic;
}

body{
    background-image: url(zdenek-machacek-l1vfj2y13tk-unsplash.jpg);
    background-repeat: no-repeat;

    background-position: center top ;
  
}

.ab{
    color: red;
    border: 2px solid green;
    width: 500px;
    height: 500px;
    margin: 100px auto;   /* 400 */
    text-align: center;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    /* background-color: transparent ; */
     
    
    
}

@media (max-width:500px){
    .ab{
    margin-left: 0px;
    margin-right: 50px;
    width: 350px;
}
    .ab ul li{
        margin-left: -20px;
        padding: 0px 5px;
    }
     span  #ce{
        margin-left: 10px;
    }
}
.ab h3{
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: italic;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(8, 8, 8, 0.815);
    border-radius: 10px;
    height: 52px;


}
hr{
    opacity: 0.5;
    margin-top: 1px;
}
.ab img {
    width: 100px;
    height:100px;
    display: inline-block;
    margin-top: 10px;
    border:1px solid black;
    border-radius: 100%;
    justify-content: center;
   align-items: center;

}
p{
    display: flex;
    margin-left: 35%;
    margin-top: 10px;
}
#mp {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30px;
    margin-bottom: 1px;
    height: 35px;
    text-shadow:yellow ;
    animation-delay: 5s;
    animation: mp 3s 1;
}
@keyframes mp {
       0%{
          margin-left: 0px;
       } 

}
span {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 190px;
}

.ab ul li{
    list-style: none;
    padding: 20px 20px;
    float: left;
}
#f{
    display: none;
    transition: 5s;
  
    
}

#t{
    display: none;
 
}
#i{
    display: none;
    
}
#l{
    display: none;

}

a {
    transition: 3s;
}
.footer{
    background: rgba(0, 0, 0, 0.911);
    margin-top: 100px;
    height: 135px;
    padding: 1px 20px;
    border-radius: 10px;
}
   /* icons */

/* Add a hover effect if you want */
 .fa:hover  {
    opacity: 0.7;
    transform: translateZ(25px);
    text-decoration: none;
    font-size: 40px;  
    width: 40px;  
    height: 38px;
    transition: 1s;
} 

#f :hover{
    transition: 2s;
}

a:hover  + #f{
    display: inline-block;
    color: rgb(240, 102, 102);
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 15px;
    margin-left: -12px;
    
  }
a:hover + #t {
    display: inline-block;
    color: rgb(223, 220, 84);
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    margin-top: 15px;
    margin-left: -0px;
    letter-spacing: 1px;
    font-style: italic;
}
a:hover + #i{
    display: inline-block;
    color: rgb(72, 195, 226);
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    margin-top: 15px;  
    margin-left: -20px; 
    letter-spacing: 1px;
    font-style: italic;
}
a:hover + #l{
    display: inline-block;
    color: rgb(189, 184, 184);
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
    font-style: italic;
}


  /* Set a specific color for each brand */
  /* Facebook */
  .fa-facebook {
    display: flex;
    margin-left: 45px;
    color: white;
    margin: 0px 5px;
   background:blue;
   border-radius: 10px;
   width: 35px;
   height: 33px;
   text-decoration: none;
   text-align: center;
   font-size: 20px;
   padding: 3px 1px;
   justify-content: center;
   align-items: center;
   } 
  /* Twitter */
  .fa-twitter {
    display: flex;
    border-radius: 5px;
    width: 35px;
    height: 33px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 3px 1px;
     justify-content: center;
   background:white;
    color: 	#1DA1F2;
    justify-content: center;
    align-items: center;
  }
  
  .fa-instagram {
    display: flex;
     background:linear-gradient(#8a3ab9,#e95950);
     border-radius: 10px;
     width: 35px;
    height: 33px;
    text-decoration: none;
    justify-content: center;
   align-items: center;     
   font-size: 20px;
   padding: 3px 1px;
    justify-content: center;
        color: white;
  }
  .fa-linkedin {
        color: white;
        display: flex;
        background-color: #0077B5;
        border-radius: 10px;
        width: 35px;
        text-align: center;
        font-size: 20px;
        padding: 3px 1px;
        justify-content: center;
        align-items: center;
         justify-content: center;
        height: 33px;
        text-decoration: none;
         
  }
