.alert {
    padding: 20px;
    background-color: skyblue; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;

}
  
.alert.info {background-color: #2196F3;}

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

  }
   /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
.line {
   background-color: snow;
   font-size: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.line:hover{
    background-color: #F8E831;
    color:#047bd5 ;
}
.news {
  font-size: xx-large;
  text-decoration: underline;
  color: blue;
  
  transition-duration: 5s;
  
}
.news :hover{
  transform: rotate(360deg);
  
}

.con :hover{
     background-color: #87ceeb;    }
.top {
    font-size: x-large;
    display: block;
    text-align: center;
    animation: text 5s 1;
    color: red;
    
   
}

h4 {
  animation: top 4s 1;
  background-color: white;
  border-radius: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h6 {
  animation: top1 3s 1;
  color: purple;
  
}
@keyframes top {
  from {
    margin-left: 100%;
    letter-spacing: 8px;
    width: 300%;
    color: lightslategrey;
  }

  to {
    margin-left: 0%;
    letter-spacing: 0px;
    width: 100%;
    color: teal;
  }
}

@keyframes top1 {
  from {
    margin-right: 50%;
    width: 50%;
    color: thistle;
  }

  to {
    margin-right: 0%;
    width: 100%;
    color: salmon;
  }
}
.p0 {
   animation: p0 7s 1;
}
@keyframes p0 {
  from
  {
   margin-left: 100%; 
   width: 50%;
   color: black;
  }
  to {
    margin-left: 0%;
    width: 100%;
    color: blue;
  }
}

body {
      background: radial-gradient(rgb(248, 248, 9),lightgreen);
}

p {
  animation: p 5s 1;
  font-size: small;
}/*
@keyframes p {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
table .center {
    margin-top: 10px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    background-color: lightyellow;
    background-color: lightgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: 10px;
    border-color: black;
    
}
.center :hover{
  border-radius: 20px;
}
.tr {
  background-color: orange;
}
.td {
  background-color: orange;
}
.co {
    background-color: lightpink;
    text-decoration: underline;
}
.co :hover{
    border-radius: 25px;
    background-color: white;
}
tr td :hover{
  color: red;
}

p :hover {
  color: red;
}

.p :hover {
  color: red;
}
.last{
  background-color: black;
  margin-top: 50px;
  color: red;
  display: block;
  padding: 25px;
  height: 200px;
  word-spacing: 5px;
  margin-bottom: 0px;
  

}

.p {
  font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-top: 0px;
    
}
.p1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-top: 10px;
}

.p2 {
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
}
.m {
    margin-top: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  

footer{
  margin-bottom: 0px;
}  
.fa {
  padding: 15px 10px;
  font-size: 10px;
  width: 40px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: 2s;
 
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: none;
  /* transform: translateZ(25px); */
  text-decoration: none;
  font-size: 30px;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  border-color: white;
  margin-left: 100px;
  color: white;
  /* font-size: 30px; */
 
 
}
.fa-facebook :hover{
    transform:translateX(25px);
}

/* Twitter */
.fa-twitter {
 
  
  color: 	#1DA1F2;
}

.fa-instagram {
    
      color: #833AB4;
      
}
.fa-linkedin {
      color: #0077B5;
       
}
 
@media (max-width : 400px  ){
    .fa {
      width: 40px;
  height: 50px;
  padding: 15px 10px;
  
    }
    .fa-facebook{
      margin-left: 40px;
    }
    .fa-instagram{
      margin-left: 40px;
    }
}
@media (min-width :1224px){
  .fa{
    width: 40px;
  height: 50px;
  }
}
